<div class="container-fluid">
  <div class="row mt-3 mx-5">
    <div class="col-md-3">
      <%= render 'layouts/info', user: current_user %>
      <%= render 'videos/video', video: @video %>
    </div>
    <div class="col-md-8 offset-1">
      <h2>Clips</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Video</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th colspan="6"></th>
            <!--<th scope="col">-->
            <!--  <div class="dropdown">-->
            <!--    <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="orderDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--      Order-->
            <!--    </button>-->
            <!--    <div class="dropdown-menu" aria-labelledby="orderdropdown">-->
            <!--      %= link_to "Favorites", books_path(order: "favorites"), class: "dropdown-item" %>-->
            <!--      %= link_to "Latest", books_path(order: "latest"), class: "dropdown-item" %>-->
            <!--      %= link_to "Oldest", books_path(order: "oldest"), class: "dropdown-item" %>-->
            <!--      %= link_to "Rated", books_path(order: "highest_rated"), class: "dropdown-item" %>-->
            <!--    </div>-->
            <!--  </div>-->
            <!--</th>-->
          </tr>
        </thead>
        <tbody>
          <% @videos.each do |video| %>
            <tr>
              <td>
                <%= link_to video_path(video) do %>
                  <% if video.clip.attached? %>
                    <%= video_tag url_for(video.clip), size: "100x100" %>
                  <% else %>
                    <span>No video available</span>
                  <% end %>
                <% end %>
              </td>
              <td><%= link_to video.title, video_path(video) %></td>
              <td><%= video.body %></td>
              <td><%= video.category %></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>