<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/e48857b0b3.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ローディングアニメーション -->
    <div class="loader">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <h2>Now Loading...</h2>
    </div>
    <div class="content">
      <%= render 'layouts/header' %>
      <% flash.each do |key, message| %>
        <div class="alert alert-<%= bootstrap_class_for_flash(key) %>">
          <%= message %>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <div class="d-flex mt-3">
          <%= render 'searches/search' %>
          <%= render 'tagsearches/tagsearch' %>
        </div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
